<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>

<body>
<$- include('../partials/header') $>
  <main>
    <div class="searchForm">
      <form id="new-search-form" class="form search-spot">


        <fieldset class="form-group row tags">
          <div class="col-xs-12">
            <p>Please select the appropriate tags:</p>
          </div>
          <div class="col-xs-4">
            <label class="checkbox-inline">
              <input name="tags" type="checkbox" value="Nature">Nature
            </label><br>
            <label class="checkbox-inline">
              <input name="tags" type="checkbox" value="Urban">Urban
            </label><br>
            <label class="checkbox-inline">
              <input name="tags" type="checkbox" value="Family">Family
            </label><br>
          </div>

          <div class="col-xs-4">
            <label class="checkbox-inline">
              <input name="tags" type="checkbox" value="Beach">Beach
            </label><br>
            <label class="checkbox-inline">
              <input name="tags" type="checkbox" value="Park">Park
            </label><br>
            <label class="checkbox-inline">
              <input name="tags" type="checkbox" value="Engagement">Engagement
            </label><br>
          </div>

          <div class="col-xs-4">
            <label class="checkbox-inline">
              <input name="tags" type="checkbox" value="Garden">Garden
            </label><br>
            <label class="checkbox-inline">
              <input name="tags" type="checkbox" value="Museum">Museum
            </label><br>
            <label class="checkbox-inline">
              <input name="tags" type="checkbox" value="Wedding">Wedding
            </label><br>
          </div>
        </fieldset>

        <br>

        <fieldset class="form-group row search-info">
          <label for="additional-tags" class="col-xs-4 form-control-label">Additional tags:</label>
          <div class="col-xs-8">
            <input id="additional-tags" name="additional-tags" type="text">
          </div>
<br><br>
          <label for="location" class="col-xs-4 form-control-label">Search locations:</label>
          <div class="col-xs-8">
            <input id="location" name="location" type="text">
          </div>
        </fieldset>

        <input type="button" class="btn btn-primary" value="Search" id="btn-advanced">
      </form>
    </div>
  </main>

  <div class="container-fluid box results" id="spotscontainer">
    <$ s = JSON.parse(spots) $>
    <p class="searchresults">Search results: <$= s.length $>&nbsp;<$ if (s.length == 1) { $> match found<$ } else { $>matches found<$ } $></p>
    <div class="container-fluid box" id="indexView">
      <div class="row indexTemplate">
      <$ s.forEach(function (spot) { $>
        <div class="col-md-4 indexSpotContainer box-shadow--4dp">
          <div>
            <a href="/spots/<$= spot._id $>"><img class="maxImageWidth box-shadow--2dp img-thumbnail" src=<$= spot.image_url $>></a>
          </div>
          <div id="indexText">
            <p id="indexTitle"> <$= spot.title $></p>
            <span> Tags:
              <$ var tagString = "" $>
              <$ spot.tags.forEach(function (tag) { $>
              <$ tagString += (tag.tag_name + ", ");$>
              <$ }); $>
              <$= tagString.replace(/,\s*$/, ""); $>
            </span>
            <br>
            <span> Rating: <$= spot.rating $></span>
          </div>
        </div>
      <$ }); $>
      </div>
    </div>
  </div>

  <$- include('../partials/scripts') $>

  <script type="text/template" id="spot-template">
    <p class="searchresults">Search results: <%= _.size(spots) %>&nbsp;<% if (spots.length == 1) { %> match found<% } else { %>matches found<% } %></p>
    <div class="container-fluid box" id="indexView">
      <div class="row indexTemplate">
      <% _.forEach(spots,function (spot) { %>
        <div class="col-md-4 indexSpotContainer box-shadow--4dp">
          <div>
            <a href="/spots/<%= spot._id %>"><img class="maxImageWidth box-shadow--2dp img-thumbnail" src=<%= spot.image_url %>></a>
          </div>
          <div id="indexText">
            <p id="indexTitle"> <%= spot.title %></p>
            <span> Tags:
              <% var tagString = "" %>
              <% spot.tags.forEach(function (tag) { %>
              <% tagString += (tag.tag_name + ", ");%>
              <% }); %>
              <% var newTagString = tagString.slice(0,-2); %>
              <%= newTagString %>
            </span>
            <br>
            <span> Rating: <%= spot.rating %></span>
          </div>
        </div>
      <% }); %>
      </div>
    </div>
  </script>

<!--
    <% _.forEach(spots,function (spot) { %>
      <h2><%= spot.title %></h2>
      <a href="/spots/<%= spot._id %>"><img src="<%= spot.image_url %>"></a>
      <br />
    <br>
    Tags:
      <% spot.tags.forEach(function (tag) { %>
        <%= tag.tag_name %>
      <% }); %>
    <br />
    Rating:<%= spot.rating %><br>
    <% }) %>
-->
</body>

</html>
